<div class="row header">
  <div class="col-12 col-md-10">
    <h1 (click)="titleClicked = !titleClicked" [ngClass]="{'glow': titleClicked}">Q</h1>
  </div>
  <div class="col-12 col-md-2">
    <h4 *ngIf="authService.currentUser | async as currentUser; else showRegister">{{ currentUser.email }}</h4>
    <ng-template #showRegister>
      <a *ngIf="!lAoggedIn" style="color:white" routerLink="auth">Register</a>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col separator"></div>
  <div class="col separator"></div>
  <div class="col separator"></div>
</div>
<router-outlet></router-outlet>
