<div class="profile">
  <div class="row">
    <div class="col-md-2 col-12">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image">
    </div>
    <div class="col-md-4 col-12">
      <div class="row">
        <div class="col-12">
          <h4>Vrund Patel (vrundpatel) <i class="far fa-lightbulb"></i> <i class="fas fa-share"></i></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="md-form">
            <textarea type="text" id="form7" class="md-textarea form-control" mdbInputDirective></textarea>
            <label for="form7">Basic info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a>Views</a> &nbsp;
          <a>Responses</a>

        </div>
      </div>
    </div>
    <div class="col-md-5 offset-md-1 col-12">
      <mdb-card class="activity-feed">
        <mdb-card-body>
          <mdb-card-title>
            <h4 style="color: black" class="text-center">Activity</h4>
          </mdb-card-title>
          <mdb-card-text>
            <ul>
              <li> Some quick example text to build on the card title and make up the bulk of the card's content. </li>
              <li> Some quick example text to build on the card title and make up the bulk of the card's content. </li>
              <li> Some quick example text to build on the card title and make up the bulk of the card's content. </li>
              <li> Some quick example text to build on the card title and make up the bulk of the card's content. </li>
              <li> Some quick example text to build on the card title and make up the bulk of the card's content. </li>
            </ul>
          </mdb-card-text>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <div class="bookshelf">
    <div class="row">
      <div class="col-10 offset-2">
        <h3>Bookshelf</h3>
        <div class="books">
          <div class="card-deck">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
